@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
.container5 {
  min-height: 65vh;
  background-color: rgb(96, 96, 96);
  display: flex;
}
.innerContainer {
  height: 45vh;
  width: 60vw;
  background-color: rgb(232, 232, 232);
  margin-top: 5%;
  margin-left: 7%;
  overflow: scroll;
}
.innerContainer h2 {
  font-family: "Noto Sans JP", sans-serif;
  padding: 2% 4%;
  color: rgb(96, 96, 96);
}
.innerContainer h2 span {
  border-bottom: 4px solid rgb(67, 190, 247);
}
.innerContainer p {
  color: rgb(128, 128, 128);
  padding: 0 2%;
}
.innerContainer .grid-container1 {
  min-height: 26.5vh;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1%;
  padding-top: 1%;
}
/* .innerContainer .grid-container1 .grid-item {
  height: 20vh;
  overflow: scroll;
} */
.innerContainer .grid-container1 .grid-item h3 {
  padding: 2% 7%;
  font-family: "Noto Sans JP", sans-serif;
  color: rgb(96, 96, 96);
}

.innerContainer .grid-container1 .grid-item h3 img {
  height: 6vh;
  width: 2vw;
  border-radius: 50%;
  position: relative;
  top: 13%;
  padding-right: 2%;
}
