@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
.container12 {
  min-height: 38vh;

  margin-top: 3%;
  background-color: rgb(40, 40, 40);
}
.container12 h2 {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  color: white;
  padding: 1.5%;
}
.container12 .grid-container {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(4, 1fr);
  height: 25vh;
  margin: 0 20%;
}
.container12 .grid-container .grid-item {
}
.container12 .grid-container .grid-item h2 {
  padding-top: 15%;
}
.container12 .grid-container .grid-item h2 img {
  height: 4vh;
  width: 2vw;
  border-radius: 50%;
  border-right: 2px solid white;
  filter: invert(1);
}
.container12 .grid-container .grid-item p {
  text-align: center;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  padding-left: 4%;
}
